{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Page de profil</h2>
<div>
    <p>Vos identifiants sont :</p>
    <table>
        <tr>
            <td>Utilisateur:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Mots de passe:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
        <tr>
            <td>Telephone:</td>
            <td>{{ account['phone'] }}</td>
        </tr>
        <tr>
            <td>Specialiste:</td>
            <td>{{ account['specialite'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}
